<div style="padding: 1rem">
  <h2>Blocks Synced</h2>

  <div *ngIf="loading">Loading...</div>

  <div *ngIf="blocksData?.result">
    <!-- Results Table -->
    <table
      border="1"
      cellpadding="8"
      cellspacing="0"
      style="width: 100%; text-align: left"
    >
      <thead>
        <tr>
          <th>Network</th>
          <th>From Block Number</th>
          <th>To Block Number</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let res of blocksData?.result">
          <td>{{ res.network }}</td>
          <td>
            <a
              [href]="getBlockUrl(res.chainId, res.from)"
              target="_blank"
              rel="noopener noreferrer"
            >
              {{ res.from }}
            </a>
          </td>
          <td>
            <a
              [href]="getBlockUrl(res.chainId, res.from)"
              target="_blank"
              rel="noopener noreferrer"
              >{{ res.to }}
            </a>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
</div>
