<div style="padding: 1rem">
  <h2>Actual escrow factory contract address</h2>

  <div *ngIf="loading">Loading...</div>

  <div *ngIf="escrowData?.result">
    <!-- Results Table -->
    <table
      border="1"
      cellpadding="8"
      cellspacing="0"
      style="width: 100%; text-align: left"
    >
      <thead>
        <tr>
          <th>Network</th>
          <th>Escrow Factory Address</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let res of escrowData?.result">
          <td>{{ res.network }}</td>
          <td>
            <a
              [href]="getExplorerUrl(res.chainId, res.address)"
              target="_blank"
              rel="noopener noreferrer"
            >
              {{ res.address }}
            </a>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
</div>
